<app-header titulo="DateTime"></app-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Datos de Nacimiento</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-datetime display-format="YYYY MMMM DD" placeholder="fecha de nacimiento"
                          cancelText="Cancelar!!"
                          [ngModel]="fechaNacimiento.toISOString()"
            (ionChange)="cambiarFecha($event)"></ion-datetime>
        </ion-item>

        <ion-list-header>
            <ion-label>Restricciones</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Min y Max</ion-label>
            <ion-datetime display-format="YYYY MMMM DD" placeholder="yyyy-mm-dd"
                          min="2015-01-01"
                          max="2015-12-31"
                          cancelText="Cancelar!!"
                          (ionChange)="cambiarFecha($event)"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Años</ion-label>
            <ion-datetime display-format="YYYY" placeholder="yyyy"
                          min="2015"
                          max="2022"
                          value="2020"
                          cancelText="Cancelar!!"
                          (ionChange)="cambiarFecha($event)"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Custom Date</ion-label>
            <ion-datetime [pickerOptions]="customPickerOptions" [(ngModel)]="customDate"></ion-datetime>
        </ion-item>
    </ion-list>
</ion-content>
